.javascript {
  background-color: #f1e05a !important;
}

.css {
  background-color: #563d7c !important;
}

.html {
  background-color: #e34c26 !important;
}

.scss {
  background-color: #ec53ac !important;
}
