/*COLORS*/
$primary-color: rgb(246, 239, 201);
$secondary-color: #525252;

/*FONTS*/
$header-font-family: "Montserrat", Arial, Helvetica, sans-serif;
$title-font-family: "Montserrat", Arial, Helvetica, sans-serif;
